{% extends "account/base.html" %}

{% load i18n %}
{% block subtitle %}
パスワードの変更
{% endblock %}

{% block content %}
<h1>
  {% if token_fail %}
  不正なパスワードリセットトークン
  {% else %}
  パスワードの変更
  {% endif %}
</h1>

{% if token_fail %}
{% url 'account_reset_password' as passwd_reset_url %}
<p>
  リンクのトークンが不正です。このリンクは，既に使用されている可能性があります。パスワードをリセットしたい場合は，<a href="{{ passwd_reset_url }}">こちらからリクエスト</a>してください。
</p>
{% else %}
{% if form %}
<p>
  メールアドレスの確認ができました。パスワードを再設定してください。
</p>
<form class="needs-validation" novalidate method="POST" action="{{ action_url }}" id="reset-password">
  {% csrf_token %}
  <div class="row justify-content-center">

    <div class="col-lg-10">
      <div class="form-floating mb-3">
        <input type="password" id="id_password1" class="form-control{% if form.password1.value and not form.password1.errors %} is-valid{% elif form.password1.errors %} is-invalid{% endif %}" name="password1" {% if form.errors and not form.password1.errors %} value="{{ form.password1.value }}" {% endif %} required placeholder="パスワード" autocomplete="new-password" aria-describedby="password1Help">
        <label class="" for="id_password1">
          {{ form.password1.label }}
        </label>
        <div id="password1Help" class="form-text">
          半角大小英字・数字・記号を組み合わせて8文字以上で入力してください。
        </div>

        {% if form.password1.errors %}
        {% for error in form.password1.errors %}
        <div class="invalid-feedback">
          {{ error|escape }}
        </div>
        {% endfor %}
        {% else %}
        <div class="invalid-feedback">
          パスワードを入力してください。
        </div>
        {% endif %}
      </div>
    </div>

    <div class="col-lg-10">
      <div class="form-floating mb-3">
        <input type="password" id="id_password2" class="form-control{% if form.password2.value and not form.password1.errors and not form.password2.errors %} is-valid{% endif %}{% if form.password2.errors %}  is-invalid{% endif %}" name="password2" {% if was_post and not form.password1.errors and not form.password2.errors %}value="{{ form.password2.value }}" {% endif %} required placeholder="パスワード（確認用）" autocomplete="new-password">
        <label class="" for="id_password2">
          新しいパスワード（確認用）
        </label>
        <div id="password2Help" class="form-text">
          確認のため，再度パスワードを入力してください。
        </div>

        {% if form.password2.errors %}
        {% for error in form.password2.errors %}
        <div class="invalid-feedback">
          {{ error|escape }}
        </div>
        {% endfor %}
        {% else %}
        <div class="invalid-feedback">
          確認のため，再度入力してください。
        </div>
        {% endif %}
      </div>
    </div>
    <div class="col-lg-10 d-grid gap-2">
      <button type="submit" class="btn btn-primary btn-md" name="submit">
        パスワード変更
      </button>
    </div>
  </div>
</form>
{% else %}
<p>
  アカウントのパスワードが変更されました。
</p>
{% endif %}
{% endif %}
{% endblock %}
