{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block subtitle %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<h1>{% trans "Password Reset" %}</h1>
{% if user.is_authenticated %}
{% include "account/snippets/already_logged_in.html" %}
{% endif %}

<p>
    パスワードをお忘れですか？パスワードをリセットするために，メールアドレスを入力してください。
</p>

<form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
    {% csrf_token %}

    <div class="row justify-content-center">


        <div class="col-lg-10">
            <div class="form-floating mb-3">
                <input type="text" id="id_email" class="form-control{% if was_post and not form.email.errors %} is-valid{% elif form.email.errors %} is-invalid{% endif %}" name="{{ form.email.name }}" {% if was_post %}value="{{ form.email.value }}" {% endif %}required placeholder="tatter@example.com" autocomplete="email" spellcheck="true" autocorrect="on">
                <label for="id_email" class="">
                    メールアドレス
                </label>

                {% if form.login.errors %}
                {% for error in form.login.errors %}
                <div class="invalid-feedback">
                    {{ error|escape }}
                </div>
                {% endfor %}
                {% else %}
                <div class="invalid-feedback">
                    メールアドレスを入力して下さい。
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-10 mb-3 d-grid gap-2">
            <button type="submit" class="btn btn-primary btn-md" name="submit">パスワードをリセット</button>
        </div>
    </div>
</form>

<p>
    現在のパスワードがわかっている場合は，<a href="{% url 'account_change_password' %}">こちらからパスワードを変更</a>できます。<br>
    パスワードの再設定に問題がある場合は，ご連絡ください。
</p>
{% endblock %}
