{% extends "account/base.html" %}

{% load i18n %}

{% block subtitle %}
パスワード変更
{% endblock subtitle %}

{% block content %}
<h1>
    パスワード変更
</h1>

<form method="POST" action="{% url 'account_change_password' %}" class="password_change needs-validation" novalidate>
    {% csrf_token %}

    <div class="row justify-content-center">

        <div class="col-lg-10">
            <div class="form-floating mb-3">
                <input type="password" id="id_oldpassword" class="form-control{% if form.oldpassword.value and not form.oldpassword.errors %} is-valid{% elif form.oldpassword.errors %} is-invalid{% endif %}" name="oldpassword" {% if form.errors and not form.oldpassword.errors %} value="{{ form.oldpassword.value }}" {% endif %} required placeholder="パスワード" autocomplete="current-password">
                <label class="" for="id_oldpassword">
                    {{ form.oldpassword.label }}
                </label>

                {% if form.oldpassword.errors %}
                {% for error in form.oldpassword.errors %}
                <div class="invalid-feedback">
                    {{ error|escape }}
                </div>
                {% endfor %}
                {% else %}
                <div class="invalid-feedback">
                    現在のパスワードを入力してください。
                </div>
                {% endif %}
            </div>
        </div>

        <div class="col-lg-10">
            <div class="form-floating mb-3">
                <input type="password" id="id_password1" class="form-control{% if form.password1.value and not form.password1.errors %} is-valid{% elif form.password1.errors %} is-invalid{% endif %}" name="password1" {% if form.errors and not form.password1.errors %} value="{{ form.password1.value }}" {% endif %} required placeholder="パスワード" autocomplete="new-password" aria-describedby="password1Help">
                <label class="" for="id_password1">
                    {{ form.password1.label }}
                </label>
                <div id="password1Help" class="form-text">
                    半角大小英字・数字・記号を組み合わせて8文字以上で入力してください。
                </div>

                {% if form.password1.errors %}
                {% for error in form.password1.errors %}
                <div class="invalid-feedback">
                    {{ error|escape }}
                </div>
                {% endfor %}
                {% else %}
                <div class="invalid-feedback">
                    新しいパスワードを入力してください。
                </div>
                {% endif %}
            </div>
        </div>

        <div class="col-lg-10">
            <div class="form-floating mb-3">
                <input type="password" id="id_password2" class="form-control{% if form.password2.value and not form.password1.errors and not form.password2.errors %} is-valid{% endif %}{% if form.password2.errors %}  is-invalid{% endif %}" name="password2" {% if was_post and not form.password1.errors and not form.password2.errors %}value="{{ form.password2.value }}" {% endif %} required placeholder="パスワード（確認用）" autocomplete="new-password">
                <label class="" for="id_password2">
                    新しいパスワード（確認用）
                </label>
                <div id="password2Help" class="form-text">
                    確認のため，再度新しいパスワードを入力してください。
                </div>

                {% if form.password2.errors %}
                {% for error in form.password2.errors %}
                <div class="invalid-feedback">
                    {{ error|escape }}
                </div>
                {% endfor %}
                {% else %}
                <div class="invalid-feedback">
                    確認のため，再度新しいパスワードを入力してください。
                </div>
                {% endif %}
            </div>
        </div>

        <div class="col-lg-10 mb-3 d-grid gap-2">
            <button type="submit" class="btn btn-primary btn-md" name="action">
                パスワード変更
            </button>
        </div>
    </div>

    <p>
        パスワードをお忘れの場合は，
        <a href="{% url 'account_reset_password' %}">こちらから再設定</a>
        してください。
    </p>
</form>
{% endblock %}
