{% extends "account/base.html" %}

{% block subtitle %}新規登録{% endblock %}

{% block content %}

<h1>
  新規登録
</h1>

<p>
  既にアカウントをお持ちの場合は，こちらから<a href="{{ login_url }}">サインイン</a>してください。
</p>
{% if form.non_field_errors %}
{% for error_message in form.non_field_errors %}
<div class="rounded-3 alert alert-danger alert-dismissible fade show" role="alert">
  {{ error_message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% elif form.errors %}
<div class="rounded-3 alert alert-danger alert-dismissible fade show" role="alert">
  エラーが発生しました。以下の指示に従って修正してください。
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<form class="signup needs-validation" novalidate id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}

  <div class="row">
    <div class="col-lg-6">
      <div class="form-floating mb-3">
        <input type="email" id="id_email" class="form-control{% if request.method == 'POST' and not form.email.errors %} is-valid{% elif form.email.errors %} is-invalid{% endif %}" name="email" {% if request.method == 'POST' %}value="{{ form.email.value }}" {% endif %}required placeholder="tatter@example.com" autocomplete="email" aria-describedby="emailHelp" spellcheck="true" autocorrect="on">
        <label for="{{ form.email.id_for_label }}" class="">
          メールアドレス
        </label>

        {% if form.email.errors %}
        {% for error in form.email.errors %}
        <div class="invalid-feedback">
          {{ error|escape }}
        </div>
        {% endfor %}
        {% else %}
        <div class="invalid-feedback">
          メールアドレスを入力して下さい。
        </div>
        {% endif %}
      </div>
    </div>

    <div class="col-lg-6">
      <div class="form-floating mb-3">
        <input type="text" id="id_handle_name" class="form-control{% if request.method == 'POST' and not form.handle_name.errors %} is-valid{% elif form.handle_name.errors %} is-invalid{% endif %}" name="handle_name" {% if request.method == 'POST' %}value="{{ form.handle_name.value }}" {% endif %}required placeholder="名前" autocomplete="nickname" spellcheck="true" autocorrect="on" maxlength="{{ form.handle_name.field.max_length }}">
        <label for="{{ form.handle_name.id_for_label }}" class="">
          名前（表示名）
        </label>

        {% if form.handle_name.errors %}
        {% for error in form.handle_name.errors %}
        <div class="invalid-feedback">
          {{ error|escape }}
        </div>
        {% endfor %}
        {% else %}
        <div class="invalid-feedback">
          名前を入力してください。
        </div>
        {% endif %}
      </div>
    </div>

    <div class="col-lg-6">
      <div class="form-floating mb-3">
        <input type="password" id="id_password1" class="form-control{% if form.password1.value and not form.password1.errors %} is-valid{% elif form.password1.errors %} is-invalid{% endif %}" name="password1" {% if request.method == 'POST' and not form.password1.errors %} value="{{ form.password1.value }}" {% endif %} required placeholder="パスワード" autocomplete="new-password" aria-describedby="password1Help">
        <label class="" for="id_password1">
          {{ form.password1.label }}
        </label>
        <div id="password1Help" class="form-text">
          半角大小英字・数字・記号を組み合わせて8文字以上で入力してください。
        </div>

        {% if form.password1.errors %}
        {% for error in form.password1.errors %}
        <div class="invalid-feedback">
          {{ error|escape }}
        </div>
        {% endfor %}
        {% else %}
        <div class="invalid-feedback">
          パスワードを入力してください。
        </div>
        {% endif %}
      </div>
    </div>

    <div class="col-lg-6">
      <div class="form-floating mb-3">
        <input type="password" id="id_password2" class="form-control{% if form.password2.value and not form.password1.errors and not form.password2.errors %} is-valid{% endif %}{% if form.password2.errors %}  is-invalid{% endif %}" name="password2" {% if request.method == 'POST' and not form.password1.errors and not form.password2.errors %}value="{{ form.password2.value }}" {% endif %} required placeholder="パスワード（確認用）" autocomplete="new-password" aria-describedby="password2Help">
        <label class="" for="id_password2">
          パスワード（確認用）
        </label>
        <div id="password2Help" class="form-text">
          確認のため，再度パスワードを入力してください。
        </div>

        {% if form.password2.errors %}
        {% for error in form.password2.errors %}
        <div class="invalid-feedback">
          {{ error|escape }}
        </div>
        {% endfor %}
        {% else %}
        <div class="invalid-feedback">
          確認のため，再度入力してください。
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="mb-3">
    <div class="form-check">
      <input type="checkbox" id="id_agreement" class="form-check-input{% if form.agreement.value and not form.agreement.errors %} is-valid{% elif form.agreement.errors %} is-invalid{% endif %}" name="agreement" {% if form.agreement.value %} checked{% endif %} required>
      <label class="form-check-label" for="id_agreement">
        利用規約とプライバシーポリシーに同意します。
      </label>
      <div class="invalid-feedback">
        同意が必要です。
      </div>
    </div>
  </div>

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

  <div class="d-grid gap-2">
    <button type="submit" class="btn btn-primary btn-md" name="submit">登録する</button>
  </div>

</form>
{% endblock content %}
