{# フォロー解除時の確認モーダル #}
<div class="modal fade" id="unfollowConfirmModal" tabindex="-1" aria-labelledby="">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">@<span class="unfollow-confirm-username"></span>さんをフォロー解除しますか?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>このアカウントのツイートはホームタイムラインに表示されなくなります。ツイートが非公開（未実装）になっている場合を除き，プロフィールを表示することはできます。 </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
        <button type="button" class="btn btn-danger unfollow-submit">フォロー解除</button>
      </div>
    </div>
  </div>
</div>
