{% load static %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-2 fixed-top">
  <div class="container-xl">
    <a class="navbar-brand" href="{% url 'tatter:index' %}">Tatter</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'tatter:index' %}">Home</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'tatter:global' %}">Global</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'tatter:user_list' %}" tabindex="-1" aria-disabled="true">User list</a>
        </li>
        {% endif %}
      </ul>
      {% if user.is_authenticated %}
      <ul class="navbar-nav mb-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle me-md-2 mb-2 mb-md-0" aria-current="page" id="navbarDropdownMenuLink" href="{% url 'account_logout' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="{% static 'default-icon-96.png' %}" class="rounded-circle border border-light" style="vertical-align: middle; height:21px;">
            {{user.handle_name}} <span class="text-muted small">@{{user.display_username}}</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'tatter:user_profile' username=user.display_username %}">プロフィール</a></li>
            <li><a class="dropdown-item" href="{% url 'accounts:mypage_edit' %}">設定</a></li>
            <li><a class="dropdown-item" href="{% url 'account_logout' %}">ログアウト</a></li>
          </ul>
        </li>
      </ul>
      {% else %}
      <ul class="navbar-nav mb-0">
        <li class="nav-item">
          <a class="nav-link text-white btn btn-outline-primary me-md-2 mb-2 mb-md-0" aria-current="page" href="{% url 'account_login' %}">ログイン</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white btn btn-md btn-primary" href="{% url 'account_signup' %}">新規登録</a>
        </li>
      </ul>
      {% endif %}
    </div>
  </div>
</nav>
