{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<style>
    body {
        font-family: -apple-system, BlinkMacSystemFont, Verdana, arial, 'HiraKakuProN-W3', 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', 'BIZ UDGothic', Meiryo, sans-serif;
    }
</style>
<link rel="shortcut icon" href="{% static 'config/favicon.ico' %}">
<link rel="apple-touch-icon" href="{% static 'config/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" href="{% static 'config/android-chrome-256x256.png' %}">
