{% extends 'tatter/base.html' %}
{% block title %}{{ got_user.handle_name }}さん（@{{ got_user.display_username }}） | Tatter{% endblock title %}
{% block content %}
<h1>
  {{ got_user.handle_name }}
</h1>
{% if exist_user and not got_user.account_is_hidden %}
{{ got_user.handle_name }} <span class="text-muted small">@{{ got_user.display_username }}</span>
<p>
  {% if got_user.biography %}
  {{ got_user.biography|linebreaksbr }}
  {% else %}
  <span class="text-muted">自己紹介が未設定です。</span>
  {% endif %}
</p>
{% if is_me %}
<div class="mb-3">
  <a class="btn btn-primary" href="{% url 'accounts:mypage_edit' %}">プロフィール編集</a>
</div>
{% endif %}

{% if got_user.tart_is_private and not is_me %}
<p>
  このアカウントのTartは，非公開です。
</p>
{% else %}
<h2>
  Tart一覧
</h2>
<p>
  実装中…
</p>
{% endif %}

{% else %}
@{{ search_username }}
このアカウントは存在しません。
{% endif %}
{% endblock content %}
